body {
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 400px;
    background-color:antiquewhite;
}
.title{
    font-weight: 600;
    letter-spacing: 2px;
}
/*tab login-reg*/
.acc-type{
    display:flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}
.tab-link{
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}
/*tab dang chọn*/
.tab-link.active{
    color:#000;
    border-bottom:2px soild #000;
}
/* HOVER GIỐNG WEB THẬT */
.tab-link:hover {
    color: #000;
}
.acc-type a{
    text-decoration: none;
    color: #aaa;
    padding-bottom: 10px;
    border-bottom: 2px soild transparent;
    font-weight: 500;
}
.acc-type a.active{
    color:#000;
    border-bottom: 2px solid #000;
}
/*frm-box*/
.frm-box{
    max-width: 500px;
    margin:auto;
}
/*password*/
.btn-submit{
    height:52px;
    margin-top:10px;
    letter-spacing: 1px;
}